$utilities: (
	"display": (
		responsive: true,
		print: true,
		property: display,
		class: d,
		values: inline inline-block block grid table table-row table-cell
			inline-flex none,
	),
);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
