/* First Method */

/*

$utilities: (
	"cursor": (
		property: cursor,
		class: cursor,
		responsive: true,
		values: auto pointer grab,
	),
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

*/

/* Second Method */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
	$utilities,
	(
		"cursor": (
			property: cursor,
			class: cursor,
			responsive: true,
			values: auto pointer grab,
		),
		"button-rounded": (
			property: border-radius,
			class: button-rounded,
			values: $border-widths,
		),
	)
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
