@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/utilities';
// Display headings

$display-font-sizes: (1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
    7:5rem);
$display-font-weight: 500;
$display-line-height: 1.5;


// Font size

$font-sizes: (1: 12rem,
    2: 10rem,
    3: 7rem,
    4: 5rem,
    5: 3rem,
    6: 2rem,
    7: 4rem,
);

$utilities: map-merge($utilities,
    ("font-size": map-merge(map-get($utilities, "font-size"),
            (values: $font-sizes,
            ),
        ),
    ));



@import '../node_modules/bootstrap/scss/bootstrap.scss';