@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
	$utilities,
	(
		"overflow":
			map-merge(
				map-get($utilities, "overflow"),
				(
					responsive: true,
				)
			),
		"overflow-x": (
			property: overflow-x,
			responsive: true,
			values: auto hidden visible scroll,
		),
		"overflow-y": (
			property: overflow-y,
			responsive: true,
			values: auto hidden visible scroll,
		),
	)
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
