$utilities: (
	"text-align": (
		responsive: true,
		property: text-align,
		class: text,
		values: (
			start: left,
			end: right,
			center: center,
		),
		rtl: false,
	),
	"word-wrap": (
		property: word-wrap word-break,
		class: text,
		values: (
			break: break-word,
		),
		rtl: false,
	),
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
