<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costume Gutters</title>
    <link rel="stylesheet" href="css/costume.css">
</head>

<body>
    <div class="code-live">
        <h4 class="h5 text-muted mt-3 container">Default</h4>
        <div class="container">
            <div class="row">
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-live">
        <h4 class="h5 text-muted mt-3 container">3 (Test For Default Gutters)</h4>
        <div class="container">
            <div class="row gx-3">
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
            </div>
        </div>
    </div>
    <div class="code-live">
        <h4 class="h5 text-muted mt-3 container">2</h4>
        <div class="container">
            <div class="row g-2">
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
                <div class="col-3 border border-primary">
                    <div class="p-3 bg-secondary text-white">Column</div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>