@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
	$utilities,
	(
		"opacity":
			map-merge(
				map-get($utilities, "opacity"),
				(
					values:
						map-merge(
							map-get(map-get($utilities, "opacity"), "values"),
							(
								10: 0.1,
								20: 0.2,
								30: 0.3,
								40: 0.4,
								60: 0.6,
								70: 0.7,
								80: 0.8,
								90: 0.9,
							)
						),
				)
			),
	)
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
.code-live {
	> p {
		width: 200px;
		height: 200px;
	}
}
