.test-white-space{
    width: 50%;
    /* white-space: normal; */
    /* white-space: nowrap; */
    /* white-space: pre; */
    /* white-space: pre-wrap; */
    white-space: pre-line;
}

.test-word-break{
    /* word-break: normal; */
    /* word-break: break-all; */
    /* word-break: keep-all; */
    word-break:break-word;
}

.test-word-wrap{
    /* word-wrap: normal; */
    word-wrap: break-word;
}